* {
    box-sizing: border-box;
    margin: 0;
    padding: 1;
    background-color:white;
  }
  
  .container {
    max-width: 300px;
    margin: 20px auto;
    font-family: Arial, sans-serif;
    border:3px solid black;
    
    
  }

  
  h1 {
    text-align: center;
    color: #333;
    
  }
  
  .form-group {
    margin: 10px;
    
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  #message {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    display: none;
  }
  body{
    border:2px solid white;
    background-image:url("https://images.trvl-media.com/hotels/1000000/470000/465100/465005/b6be1b6d.jpg?impolicy=fcrop&w=1200&h=800&p=1&q=medium");
  }
  